.home {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #0041e8;
  display: flex;
  flex-direction: column;

  .innovation {
    background: linear-gradient(to bottom, #0041e8, #0f3fdc);
    color: white;
    padding: 80px 0;

    .container {
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;

      span {
        font-size: 28px;
        margin-bottom: 40px;
      }

      .highlight {
        color: #ffe353;
      }

      .features {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-top: 40px;

        .feature {
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          overflow: hidden;
          transition: transform 0.3s ease;
          border: 2px solid #ffe353;
          width: 30%;

          &:hover {
            transform: translateY(-5px);
          }

          .feature-image {
            width: 100%;
            height: 50%;
            display: block;
            border-radius: 8px 8px 0 0;
          }

          .feature-content {
            padding: 20px;

            h3 {
              font-size: 24px;
              margin-bottom: 10px;
              color: #ffe353;
            }

            p {
              font-size: 20px;
              line-height: 1.6;
            }
          }
        }

        .special {
          border: 1px solid #ffe353;
        }
      }
    }

    @media (max-width: 1024px) {
      .container {
        padding: 0 20px;

        span {
          font-size: 24px;
        }

        .features {
          flex-direction: column;
          align-items: center;

          .feature {
            width: 100%;
            max-width: 400px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .impact-metrics {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    border: 3px solid #ffe353;
    width: 80%;
    align-self: center;
    border-radius: 20px;

    h2 {
      font-size: 2vw; // Make font size relative to the viewport width
      font-weight: bold;
      margin-bottom: 20px;
      color: white;
    }

    .matrics-container {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 2vw; // Gap relative to the viewport width
      flex-wrap: wrap;

      .metric {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%; // Make each metric relative to the container width
        min-width: 150px; // Ensure a minimum size for small screens

        h3 {
          padding: 1vw; // Padding relative to the viewport width
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: #ffe353;
          border: 2px solid #9b8200;
          border-radius: 50%;
          width: 8vw; // Make width relative to the viewport width
          height: 8vw; // Make height relative to the viewport width
          font-size: 2vw; // Font size relative to the viewport width
          font-weight: bold;
          margin-bottom: 10px;
          color: black;
        }

        p {
          font-size: 1.5vw; // Font size relative to the viewport width
          color: white;
        }
      }
    }

    @media (max-width: 1024px) {
      padding-bottom: 40px;
      width: 90%; // Adjust width for smaller screens

      h2 {
        font-size: 4vw; // Adjust font size for smaller screens
      }

      .matrics-container {
        gap: 4vw; // Adjust gap for smaller screens

        .metric {
          width: 40%; // Adjust width for smaller screens

          h3 {
            width: 16vw; // Adjust size for smaller screens
            height: 16vw; // Adjust size for smaller screens
            font-size: 4vw; // Adjust font size for smaller screens
          }

          p {
            font-size: 3vw; // Adjust font size for smaller screens
          }
        }
      }
    }
  }

  .community {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 60%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px; // Adjusted for responsiveness
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    span {
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 30px;
      color: #333;
      text-align: center;
      width: 100%;
      padding: 0 20px;
    }

    .carousel-wrapper {
      width: 100%;
      overflow: hidden;
      border-radius: 10px;

      .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        user-select: none;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
        width: 100%;

        .slick-list {
          position: relative;
          display: block;
          overflow: hidden;
          margin: 0;
          padding: 0;

          .slick-track {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;
            transition: transform 0.5s ease;

            .slick-slide {
              display: flex;
              justify-content: center;
              align-items: center;
              height: auto;
              padding: 0 10px;
              opacity: 1;
              transition: opacity 0.5s ease;

              img {
                max-width: 70%;
                height: auto;
                border-radius: 10px;
                &:hover {
                  transform: translateY(-5px);
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 1024px) {
      width: 80%; // Adjusted for smallest screens
      padding: 10px; // Adjusted for smallest screens

      span {
        font-size: 1.4rem; // Adjusted for smallest screens
        margin-bottom: 20px; // Adjusted for smallest screens
      }

      .carousel-wrapper {
        .slick-slider {
          .slick-slide {
            img {
              max-width: 90%; // Adjusted for smallest screens
            }
          }
        }
      }
    }
  }

  .key-offerings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    padding-bottom: 50px;

    .key-offering-heading {
      color: white;
      display: flex;
      align-self: flex-end;
      flex-direction: column;
      align-items: center;
      padding-right: 10%;

      h1 {
        font-size: 36px;
        margin-bottom: 40px;
        font-weight: 600;
      }

      .highlights {
        span {
          margin: 10px;
          cursor: pointer;
          border: 1px solid black;
          padding: 10px;
          border-radius: 10px;
          background-color: white;
          color: black;
          font-weight: bold;
          transition: color 0.3s ease;

          &.active {
            color: black;
            background-color: #e6b800;
          }
        }
      }
    }

    .key-offering-contents {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding-bottom: 40px;

      .circle-container {
        position: relative;
        border-radius: 50%;
        width: 50%;
        height: 500px;

        .offering-img {
          position: absolute;
          width: 200px;
          height: 200px;
          overflow: hidden;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          border-radius: 50%;
          left: 50%;
          top: 50%;
          transform-origin: center center;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &:hover {
            transform: scale(1.1);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          }
        }

        .offering-img:nth-child(1) {
          transform: translate(-50%, -50%) translateX(200px);
        }

        .offering-img:nth-child(2) {
          transform: translate(-50%, -50%) rotate(72deg) translateX(200px)
            rotate(-72deg);
        }

        .offering-img:nth-child(3) {
          transform: translate(-50%, -50%) rotate(144deg) translateX(200px)
            rotate(-144deg);
        }

        .offering-img:nth-child(4) {
          transform: translate(-50%, -50%) rotate(216deg) translateX(200px)
            rotate(-216deg);
        }

        .offering-img:nth-child(5) {
          transform: translate(-50%, -50%) rotate(288deg) translateX(200px)
            rotate(-288deg);
        }
      }

      .content {
        width: 40%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
          font-size: 32px;
          font-weight: bold;
          margin-bottom: 50px;
          color: white;
        }

        .highlights {
          display: flex;
          justify-content: space-around;
          margin-bottom: 20px;
          width: 100%;

          span {
            font-size: 16px;
            font-weight: 400;
            color: #ffe353;
          }
        }

        .details {
          ul {
            list-style-type: disc;
            padding-left: 20px;

            li {
              margin-bottom: 40px;
              font-size: 24px;
              color: white;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .key-offerings {
      margin-top: 50px;

      .key-offering-heading {
        padding-right: 0;
        align-self: center;

        h1 {
          font-size: 36px;
          margin-bottom: 20px;
        }

        .highlights {
          span {
            margin: 5px;
          }
        }
      }

      .key-offering-contents {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        // flex-direction: row-reverse;
        overflow: hidden;

        .circle-container {
          width: 60%;
          height: 200px;
          // left: 35px;
          right: 10px;
          margin-bottom: 20px;

          .offering-img {
            width: 80px;
            height: 80px;

            &:nth-child(1) {
              transform: translate(-50%, -50%) translateX(100px);
            }

            &:nth-child(2) {
              transform: translate(-50%, -50%) rotate(72deg) translateX(100px)
                rotate(-72deg);
            }

            &:nth-child(3) {
              transform: translate(-50%, -50%) rotate(144deg) translateX(100px)
                rotate(-144deg);
            }

            &:nth-child(4) {
              transform: translate(-50%, -50%) rotate(216deg) translateX(100px)
                rotate(-216deg);
            }

            &:nth-child(5) {
              transform: translate(-50%, -50%) rotate(288deg) translateX(100px)
                rotate(-288deg);
            }
          }
        }

        .content {
          width: 100%;
          padding: 10px;

          h1 {
            font-size: 24px;
            margin-bottom: 20px;
          }

          .highlights {
            span {
              font-size: 14px;
            }
          }

          .details {
            ul {
              padding-left: 10px;

              li {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .story-heading {
    text-align: center;
    /* Center align text */
    color: white;
    margin-top: 80px;
    font-size: 2rem;
    /* Adjust font size for smaller screens */

    @media (max-width: 1024px) {
      font-size: 1.5rem;
      text-align: center;
      /* Larger font size for bigger screens */
    }
  }

  .gallery-cta {
    padding: 40px 20px;
    text-align: center;

    h2 {
      margin-bottom: 20px;
    }

    .project,
    .testimonial {
      max-width: 600px;
      margin: 20px auto;
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .testimonials-tabs {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;

      button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        background: #007bff;
        color: white;
        border-radius: 5px;
      }
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      background: #007bff;
      color: white;
      margin-top: 20px;
    }
  }
  .collaboration-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem; /* Reduced overall padding */
    background-color: white;

    .cta-content {
      display: flex;
      margin: 40px 0px;
      flex-direction: column;
      align-items: center;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      max-width: 100%;
      width: 100%;
      border: 1.5px solid black;
      padding: 1rem; /* Add some internal padding for spacing */
    }

    .cta-image {
      width: 100%; /* Full width */
      max-width: 1000px; /* Adjusted for larger screens */
      height: auto;

      img {
        width: 100%; /* Ensure image fills container */
        height: auto; /* Maintain aspect ratio */
        border-radius: 10px;
      }
    }

    .cta-text {
      width: 100%;
      padding: 0; /* Remove any extra padding */
      margin-top: 0.5rem; /* Slightly reduce the margin top */

      h2 {
        font-size: clamp(1.25rem, 5vw, 2.25rem); /* Decreased font size */
        font-weight: bold;
        color: #000;
        margin-bottom: 0.5rem; /* Reduce margin bottom */
        text-align: center;
        white-space: normal;
        word-wrap: break-word;
      }

      p {
        font-size: 0.5rem;
        color: #333;
        margin-bottom: 0.5rem; /* Reduce gap */
        line-height: 1.4;
        padding: 0;
      }

      button {
        padding: 0.5rem; /* Adjusted button padding */
        font-size: 0.8rem; /* Font size for the button */
        color: black;
        font-weight: normal;
        background-color: #ffe478;
        border: 1px solid black;
        border-radius: 20px;
        cursor: pointer;
        white-space: nowrap;
        transition: background-color 0.3s ease, transform 0.2s ease;

        &:hover {
          background-color: #e6b800;
          transform: scale(1.05);
        }
      }
    }

    /* Responsive Adjustments */
    @media (max-width: 767px) {
      .cta-content {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0.5rem; /* Decrease padding for mobile */
      }

      .cta-image {
        width: 60%; /* Mobile image size */
        margin-right: 0.5rem; /* Reduce margin */
      }

      .cta-text {
        width: 40%;
        padding: 0 0.5rem; /* Reduce padding */
      }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      .cta-content {
        flex-direction: row;
        padding: 2rem; /* Reduce padding for tablets */
      }

      .cta-image {
        width: 70%; /* Image size for tablet */
      }

      .cta-text {
        width: 50%;
        padding: 0 1rem; /* Adjust padding */
      }
    }

    @media (min-width: 1024px) {
      padding: 4rem; /* Reduce overall padding for larger screens */

      .cta-content {
        flex-direction: row;
        padding: 1rem; /* Adjust padding */
      }

      .cta-image {
        width: 80%; /* Image size for larger screens */
      }

      .cta-text {
        width: 50%;
        padding: 0 1rem; /* Adjust padding */
      }
    }
  }
}
