.awards {
  text-align: center;
  padding: 50px 0;
  background-color: #dbd5d5;

  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: blue;
  }

  .carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 10px;
      transition: transform 0.4s ease, box-shadow 0.4s ease;
      cursor: pointer;
      height: 150px; // Default height for non-active slides
      width: 200px;  // Default width for non-active slides
    }

    &.swiper-slide {
      transform: scale(0.8); // Smaller size for non-active slides
      transition: transform 0.5s ease-in-out;
    }

    &.swiper-slide-active {
      transform: scale(1.1); // Slightly larger for the active slide
      transition: transform 0.5s ease-in-out;
      img {
        height: 350px; // Increased height for the active slide
        width: 250px;  // Increased width for the active slide
      }
    }

    .award-info {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      width: 100%;
      padding: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      opacity: 0;
      transform: translateY(100%);
      transition: opacity 0.4s ease, transform 0.4s ease;

      h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
      }
    }

    &.swiper-slide-active .award-info {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .swiper-pagination-bullet {
    background-color: #ccc;
    width: 12px;
    height: 12px;
    opacity: 1;
    transition: background-color 0.3s ease;

    &.swiper-pagination-bullet-active {
      background-color: #007bff;
      width: 16px;
      height: 16px;
    }
  }
}
