.hero-section-container {
  margin-bottom: 0;
  background-color: white;

  .hero {
    padding-bottom: 0;
    text-align: center;

    h1,
    h2 {
      opacity: 0;
      transform: translateY(20px);
      animation: fadeInUp 1s ease forwards;
    }

    h1 {
      font-size: 4vw; /* Relative font size for responsiveness */
      font-weight: bold;
      color: #333;
      margin-bottom: 20px;
      font-family: "Arial Black", sans-serif;
      animation-delay: 0.2s;
    }

    h2 {
      font-size: 2vw; /* Relative font size for responsiveness */
      font-weight: normal;
      color: #555;
      margin-bottom: 3vw; /* Relative margin for responsiveness */
      animation-delay: 0.4s;
    }

    .cta-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeInUp 1s ease forwards;
      animation-delay: 0.6s;

      button {
        padding: 1.5vw 3vw; /* Relative padding for responsiveness */
        margin: 0 1vw; /* Relative margin for responsiveness */
        border: none;
        border-radius: 2vw; /* Relative border radius for responsiveness */
        font-size: 1.5vw; /* Relative font size for responsiveness */
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        position: relative;
        overflow: hidden;
        z-index: 1;
        background-color: transparent;
        color: #333;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.2);
          transition: transform 0.3s ease;
          z-index: -1;
          transform: scaleX(0);
          transform-origin: left;
        }

        &:hover::before {
          transform: scaleX(1);
        }

        &.watch-video,
        &.teach-with-ai {
          border: 1px solid black;
        }

        &:hover {
          transform: scale(1.1) rotate(5deg);
          background-color: #ffd700;
          color: black;
        }
      }
    }
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Media queries for responsiveness */
  @media screen and (max-width: 1024px) {
    .hero-section-container .hero h1 {
      font-size: 5vw; /* Adjusted font size for smaller screens */
    }

    .hero-section-container .hero h2 {
      font-size: 3vw; /* Adjusted font size for smaller screens */
      margin-bottom: 4vw; /* Adjusted margin for smaller screens */
    }

    .hero-section-container .hero .cta-buttons button {
      padding: 2vw 4vw; /* Adjusted padding for smaller screens */
      margin: 0 2vw; /* Adjusted margin for smaller screens */
      border-radius: 3vw; /* Adjusted border radius for smaller screens */
      font-size: 2vw; /* Adjusted font size for smaller screens */
    }
  }

  @media screen and (max-width: 1024px) {
   .hero{
      padding-top: 50px !important;
    }
    .hero h1 {
      font-size: 6vw; /* Further adjusted font size for smaller screens */
    }

    .hero h2 {
      font-size: 4vw; /* Further adjusted font size for smaller screens */
      margin-bottom: 5vw; /* Further adjusted margin for smaller screens */
    }

     .hero .cta-buttons button {
      padding: 2.5vw 5vw; /* Further adjusted padding for smaller screens */
      margin: 0 2.5vw; /* Further adjusted margin for smaller screens */
      border-radius: 4vw; /* Further adjusted border radius for smaller screens */
      font-size: 2.5vw; /* Further adjusted font size for smaller screens */
    }
  }

  .statistics {
    padding: 8vw 0; /* Use vw for padding */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
  
    .outer-left,
    .outer-right {
      width: 20%;
      padding: 0 2%; /* Use percentage for padding */
      position: relative;
  
      .top-outer-left-box,
      .top-outer-right-box {
        position: relative;
  
        img:first-child {
          width: 100%;
          transition: transform 0.3s ease;
        }
  
        &:hover img:first-child {
          transform: scale(1.05);
        }
  
        img.line7,
        img.rect382 {
          position: absolute;
        }

        img.line7 {
          bottom: 1vw; /* Use vw for positioning */
          left: 0;
          width: 100%;
        }
  
        img.rect382 {
          bottom: 1vw; /* Use vw for positioning */
          left: 0;
          z-index: 100;
          width: 100%;
        }
  
        margin-bottom: 1vw; /* Use vw for margin */
  
        div {
          position: absolute;
          z-index: 101;
          bottom: 3vw; /* Use vw for positioning */
          text-align: left;
          padding-left: 2vw; /* Use vw for padding */
  
          h2 {
            font-size: 2vw; /* Use vw for font size */
            font-weight: bold;
            color: white;
            transition: transform 0.3s ease;
          }
  
          p {
            font-size: 1.5vw; /* Use vw for font size */
            color: white;
            transition: transform 0.3s ease;
          }
  
          &:hover h2,
          &:hover span {
            transform: scale(1.1);
          }
        }
      }
  
      .bottom-outer-left-box,
      .bottom-outer-right-box {
        height: 7vw; /* Use vw for height */
        border-radius: 2vw; /* Use vw for border radius */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        transition: background-color 0.3s ease, transform 0.3s ease;
  
        p {
          font-size: 1.5vw; /* Use vw for font size */
          color: white;
        }
  
        &:hover {
          background-color: #333333;
          transform: scale(1.05);
        }
      }
    }
  
    .middle {
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
  
      .inner-left,
      .inner-middle,
      .inner-right {
        width: 30%;
        position: relative;
  
        img {
          width: 100%;
          transition: transform 0.3s ease;
        }
  
        &:hover {
          transform: scale(1.05);
        }
  
        div {
          position: absolute;
          z-index: 101;
          bottom: 0;
          text-align: center;
          color: white;
          padding: 0.5vw; /* Use vw for padding */
          transition: background-color 0.3s ease;
          display: flex;
          flex-direction: column;
          align-items: center;
  
          p {
            display: block;
            font-size: 1.5vw; /* Use vw for font size */
            margin-bottom: 1vw; /* Use vw for margin */
          }
  
          button {
            background-color: #ffe353;
            border: 1px solid black;
            color: black;
            border-radius: 2vw; /* Use vw for border radius */
            padding: 1vw 2vw; /* Use vw for padding */
            font-size: 1vw; /* Use vw for font size */
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
            margin-bottom: 5px;
  
            &:hover {
              background-color: #ffd700;
              transform: scale(1.1);
            }
          }
        }
      }
  
      .inner-left {
        div {
          width: 93%;
          border-bottom-left-radius: 2vw; /* Use vw for border radius */
          border-bottom-right-radius: 2vw; /* Use vw for border radius */
          background: linear-gradient(to right, #666666, black);
        }
      }
  
      .inner-middle {
        position: relative;
        width: 25%;
  
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 2vw; /* Use vw for border radius */
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
          transition: opacity 0.3s ease;
          opacity: 1; /* Initially hidden */
          pointer-events: none; /* Allows clicks to go through */
        }
      }
    }
  
    .outer-right .bottom-outer-right-box {
      background-color: black;
    }
  }
  

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes scaleUp {
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes rotateIn {
    to {
      opacity: 1;
      transform: rotate(0deg);
    }
  }
}
